@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url("micons/micons.css");
body, html {
  height: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}.int{
    animation: fadeIn 5s;

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

  .btnn{
    margin-top: 2%;
    color: #fff;
background-color: #007bff;
border-color: #007bff;
width: 35%;
height: 100%;
display: inline-block;

text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

* {
  box-sizing: border-box;
}.contact{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    margin-top: 10%;
    font-size: 130%;
    margin-left:40%;
}.lk{
    text-decoration: none;
    color: #f1f1f1;
    margin-left: 5%;
    
}
.mail{
   
    margin-left: -5%;
}
.ld{
    margin-left: -4%;
    margin-top: 2%;
}
.git{
    margin-top: 2%;
    margin-left: -5%;
}
.bg-image {
  /* The image used */
  background-image: url("th.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 70%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}.lang{
    margin-top: 5%;
    font-size: 80%;
}.proj{
    color: #f1f1f1;
    font-family: 'Montserrat';
    margin-top: 15%;
    margin-left:10%;
}.link{
    color: #f1f1f1;
    font-family: 'Montserrat';  
    text-decoration: none;
    font-size: 70%;
  
}.education{
    color: #f1f1f1;
    font-family: 'Montserrat'; 
    margin-left: 10%;
    margin-top: 15%;
}.mr{
    color: #f1f1f1;
    font-family: 'Montserrat';  
    margin-top: 5%;
    font-size: 130%;
}
.intro{
    color: white;
    margin-top: -35%;
    font-size: 130%;
    font-family: 'Montserrat';
    margin-left: 10%;
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 0px solid #f1f1f1;
  position: absolute;
  top: 35%;
  font-family:'Montserrat';
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
} @media screen and (max-width: 1000px){
    .imag{
        margin-top: 50%;
        margin-left: 60%;
        width:30%;
        
    }

}.imag{
    margin-left: 60%;
    width:30%;
    
}

.bio{
    margin-top:-10%;
    text-align:justify/left/right/center;
text-justify:values;
}
.hw{
    color:#ff0000;
    margin-left: 45%;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    font-size: 200%;
}.name{
    color:#f1f1f1;
    margin-left: 40%;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    font-size: 300%;
}.quot{
    color:#f1f1f1;
    margin-left: 35%;
    font-family:'Montserrat';
    margin-top: -2%;
    font-size: 100%;
}
@media screen and (max-width: 1000px) {
    .hw{
        color:#ff0000;
        margin-left: 40%;
        font-family: 'Poppins', sans-serif;
        margin-top: 20%;
        font-size: 100%;
    }.name{
        color:#f1f1f1;
        margin-left: 23%;
        font-family: 'Poppins', sans-serif;
        margin-top: -4%;
        font-size: 200%;
    }.quot{
        color:#f1f1f1;
        margin-left: 20%;
        font-family:'Montserrat';
        margin-top: -5%;
        font-size: 60%;
    }
  }
  @media screen and (max-width: 1000px){
    .container {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        margin-top: -79%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .center {
        width: 80px;
        height: 60px;
        position: absolute;
    }
      
      .btn {
        width: 60px;
        height: 40px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #91C9FF;
        outline: none;
        transition: 1s ease-in-out;
    }
      
    svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
    }
      
    .btn:hover {
        transition: 1s ease-in-out;
        background: #4F95DA;
    }
      
    .btn:hover svg {
        stroke-dashoffset: -480;
    }
      
    .btn span {
        color: white;
        font-size: 18px;
        font-weight: 100;
    }
  }
.container {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 52%;
    top: 68%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 100%;
    height: 95%;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ff000079;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #ff0000;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 15px;
    font-weight: 100;
  }
  @media screen and (max-width: 1000px){
  .abt{
      color: #f1f1f1;
      font-family: 'Poppins';
      font-size: 50%;
      margin-top: -40%;
  }
}
.in{
    margin-left: 39%;
    margin-top: 20%;
}

.wrappers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 50px;
  margin-top: -140px;
  
}

.wrappers i {
  padding: 20px;
  text-shadow: 0px 6px 8px rgb(7, 7, 7);
  transition: all ease-in-out 150ms;
}
.wrappers a:nth-child(1) {
  color: #dd4b39;
}
.wrappers a:nth-child(2) {
  color: #4867AA;
}
.wrappers a:nth-child(3) {
  color: #1DA1F2;
}
.wrappers i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1000px){
  .wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 10px;
    margin-top: -230px;
  }
  
  .wrappers i {
    padding: 10px;
    text-shadow: 0px 6px 8px #070707;
    transition: all ease-in-out 180ms;
  }
  .wrappers a:nth-child(1) {
    color: #dd4b39;
  }
  .wrappers a:nth-child(2) {
    color: #4867AA;
  }
  .wrappers a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrappers i:hover {
    margin-top: -5px;
    text-shadow: 0px 27px 24px rgba(0, 0, 0, 0.4);
  }
}